.backdrop {
  &.sidenav-open {
    display: block;
  }
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.hamburger {
  display: none;
  i {
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease-out;
    &:hover {
      color: $secondary-text-color;
    }
  }
}

@mixin sidenav-links() {
  display: block;
  padding: 1.3rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: $grey-text-color;
  transition: 0.2s ease-out;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $primary-text-color;
  box-shadow: -5px 0px 10px #2d2c1f63;
  overflow-x: hidden;
  transition: 0.3s ease-out;
  padding-top: 6rem;
  .menu {
    li {
      display: none;
      &.open {
        // transition: all 1s ease-out;
        display: block;
      }
      a {
        @include sidenav-links();
        &:hover {
          color: $primary-bg-color;
        }
      }
    }
  }

  .social {
    position: fixed;
    bottom: 0;
    justify-content: center;
    ul {
      display: flex;
      li {
        display: none;
        &.open {
          display: flex;
        }
        padding: 1.3rem 0.8rem;
        img {
          width: 24px;
          filter: invert(0.6);
          transition: transform 0.4s ease-out, filter 0.2s ease-out;
          &:hover {
            transform: rotate(360deg);
            filter: invert(0.99);
          }
        }
      }
    }
  }

  .closebtn {
    @include sidenav-links();
    position: absolute;
    top: 11px;
    right: 8px;
    font-size: 44px;
    &:hover {
      color: $primary-bg-color;
    }
  }
}

/* Mobile View */
@media (max-width: $grid-breakpoints-md) {
  .hamburger {
    display: block;
  }
  .sidenav {
    padding-top: 6rem;

    a {
      font-size: 24px;
    }
  }
}
